body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

nav {
  background-color: #eeeeee;
}

footer {
  background-color: #eeeeee;
  border-top: 8px solid #4d197a;
}

/* h1 {
  font-size: 2.0vw;
}

p {
  font-size: 2.0vw;
}

@media (max-width: 1024px) {

  aside,
  section {
    width: auto;
    float: none;
  }
} */